
/********** @ANIMATIONS *********/

.animation(@name: animation, @duration: 2s, @easing: ease, @delay: 0s, @iteration: 1){	
	animation: @name @duration @easing @delay @iteration;
	-ms-animation: @name @duration @easing @delay @iteration;
	-webkit-animation: @name @duration @easing @delay @iteration;
	-0-animation:move @name @duration @easing @delay @iteration;
	-moz-animation:move @name @duration @easing @delay @iteration;
	animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;	
}



@faderColor: #d7d7d7;
@orbitDuration: 5s;

@orbitDistance: 20px;

.orbiting{
	 .dream-drawing{
		.animation(orbit, 12s, linear, 4s, infinite);
	}
	
}

.dream-inner:hover{
	.dream-drawing{
		 -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
		 animation-play-state: paused;
	}
}

.dream-active .dream{
	 -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
	 animation-play-state: paused;	
}


@-webkit-keyframes orbit{
	0% {
		transform: 
		   rotate(0deg)
           translate(-10px)
           rotate(0deg)
           scale(1,1);
         opacity: 1;
	}
	50% {
		transform: 
		   rotate(180deg)
           translate(-10px) 
           rotate(-180deg)
           scale(.8,.8);
         opacity: .75;
	} 	
	100% {
		transform: 
		   rotate(360deg)
           translate(-10px) 
           rotate(-360deg)
           scale1(1,1);
         opacity: 1;
	} 
}


@-webkit-keyframes fader{
  0% {
	opacity: .25;  
	color: @faderColor;  
	}
  33% {
	opacity: 1;
	color: white;
  }
  66% {
	opacity: .25;  
	color: @faderColor;  
	} 
  100% {
	opacity: 1;
	color: white;
  }	
	  
}


