

@import "animations.less";

*{
	//font-family: 'Brown' !important;
}

/********** @VARIABLES *********/


@brand: #9acadb;

@dark: #333;

@mid: #ccc;

@light: #eee;

@error: #f2dede;


.gradient(){
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.gradient-dark(){
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.font-text(){
	font-family: @font-family-text;	
}

.transition(@property: all,@duration: .5s, @delay: 0s, @easeing: ease){
	transition: @property @duration @delay @easeing;
	-moz-transition: @property @duration @delay @easeing; 
	-webkit-transition: @property @duration @delay @easeing; 
	-o-transition: @property @duration @delay @easeing; 	
}

.shadow(@x: 0px, @y: 0px, @size: 4px, @shadow-color: @medium){
	-moz-box-shadow: @x @y @size @shadow-color;
	-webkit-box-shadow: @x @y @size @shadow-color;
	box-shadow: @x @y @size @shadow-color;		
}

.text-shadow(@x: 1px, @y: 1px, @spread: 0px, @shadow-color: @light){
	-moz-text-shadow: @x @y @spread @shadow-color;
	-webkit-text-shadow: @x @y @spread @shadow-color;
	text-shadow: @x @y @spread @shadow-color;	
}

.box-shadow-inset(@x: 1px, @y: 1px, @b: 1px, @shadow-color: @light){
	-moz-box-shadow: inset @x @y @b @shadow-color;
	-webkit-box-shadow: inset @x @y @b @shadow-color;
	box-shadow: inset @x @y @b @shadow-color;	
}

.border-radius(@size: 0px){
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
	border-radius: @size;
}

.animation(@name: animation, @duration: 2s, @easing: ease, @delay: 0s, @iteration: 1){	
	animation: @name @duration @easing @delay @iteration;
	-ms-animation: @name @duration @easing @delay @iteration;
	-webkit-animation: @name @duration @easing @delay @iteration;
	-0-animation:move @name @duration @easing @delay @iteration;
	-moz-animation:move @name @duration @easing @delay @iteration;
	animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;	
}

/********** @OBJECT-ORIENTED *********/


*{
 	/* outline: none !important;  */
}

.yellow{
	background: yellow;
}

.pink{
	background: pink;
}

.orange{
	background: orange;
}

.green{
	background: green;
}

img,video{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}


.col-center{
	width: 300px;
	display: block;
	float: none;
	position: relative;
	margin: 20px auto;
}

.centered{
	text-align: center;
}

.logo{
	display: block;
}

.bg-brand{
	background-color: @brand;
}

.bg-white{
	background-color: white;
}

.bg-gray{
	background: @light;
}

.bg-gradient{
	.gradient();
}

.btn-shadow(){
	.shadow(0,3px,0,darken(@brand,5%));
}

.icon:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 33px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
}

.icon-left:before{
	margin-right: 10px;
}
.icon-right:before{
	margin-left: 10px;
}

a{
	.transition(all,.25s);
	&:hover{
		text-decoration: none;
	}
}

ul{
	list-style: none;
	padding: 0;
}

ol,ul{
	-webkit-padding-start: 0px;
}

/********** @THEME *********/

body{
	
}

*{
	font-weight: light;
}

.row{
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
}

.container{
	padding: 0;
}

.white{
	color: white;
}

.gray{
	color: #333;
}

.brand{
	color: @brand;
}

*{
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.uppercase{
	text-transform: uppercase;
}

.light{
	//font-family: 'AkkuratLight','akkurat light',helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 200;	
}

.light-italic{
	//font-family: 'AkkuratLightItalic','akkurat light italic',helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: 200;
}

.regular{
	font-weight: 400;
}

.bold{
	//font-family: 'AkkuratBold','akkurat bold',helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 700;	
}

.italic{
	font-style: italic;
}

.brown{
	font-family: 'Brown';
}

a{
	color: darken(@brand,80%);
	
	.transition(color,.125s);
	
	&:hover{
		color: darken(@brand,70%);
	}
}

.serif{
	font-family: georgia,serif;
	line-height: 1.65;
	font-size: 19px;
	
	*{
		font-family: georgia,serif;
		line-height: 1.65;
	}
}

.text{
	line-height: 1.7;
	
	p,a{
	line-height: 1.7;
		
	}
}

h1,h2,h3,h4,h5,h6,p{
	line-height: 1.3;
	color: @dark;
	font-weight: normal;	
}

h1{
	font-size: 42px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 21px;
}

h4{
	font-size: 16px;
}

h5,h6{
	font-size: 14px;
}


.text{

	p{
		line-height: 1.6;
		font-size: 18px;
	}
	
	ul{
		list-style: disc;
	}
}

.small{
	font-size: 14px;
}

.extra-small{
	font-size: 12px;
}



/********** @STRUCTURE *********/

html, body {
    //max-width: 100%;
    //overflow-x: hidden;
}

.loading{
	.transition(opacity,1s);
	opacity: 0;	
}

.loaded{
	opacity: 1;
}


#background{
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	.transition(all,@duration);
	background: #eee;

}

#header{

	//.transition(all,1s);
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 9999;
	//opacity: .75;
	bottom: 0;
	height: 120px;	
	
	&:hover{
		opacity: 1;
	}
	
	
	&.open{
		
		#nav{
			left: 60px;
		}		
		
		#nav-toggle{
			left: -120px;
			
		}

	}
	
	#nav-toggle{
		width: 30px;
		height: 30px;
		position: absolute;
		left: 50px;
		bottom: 52px;
		.transition(all,1s);		
		
		&:hover{
			cursor: pointer;
			//-webkit-transform: rotateX(180deg) rotateY(180deg);
		}
		
	}
	
	#nav{
		position: absolute;
		left: -50%;
		bottom: 30px;
		.transition(all,1s);	
		
		ul{
			display: inline-block;
			position: relative;
			bottom: 0;
			
			li{
				display: inline-block;
				margin-right: 15px;
				font-size: 14px;
				
				a{
					display: block;
					text-decoration: underline;
					
					&.nav-icon{
						text-decoration: none;
						color: #333;
						
						&.active{
							color: #999;	
						}
						
						.icon:before{
							font-size: 21px;
							line-height: 14px;
						}
					}
					
					&:hover{
						text-decoration: line-through;
					}
				}
				
			}
		}
	}
	
	#site-title{
		font-size: 16px;
		line-height: 1.2;	
		display: inline-block;	
		margin-right: 30px;
		
		&:hover{
			cursor: pointer;
		}
	}
	
	
}

#content{
	position: relative;
	z-index: 1;
}



/********** @DREAMS PHASE 2 *********/


body.dream-active{
	#background{
		background: #222;
	}
	
	.dream{
		opacity: 0;
		
		&.active{
			opacity: 1;
		}
	}

}


@duration: 5s;
/*

.dream{
	position: absolute;
	width: 100%;
	height: 100%;
	.transition(all,@duration);
	left: -50%;
	top: -50px;
	
	pointer-events: none;
	
	&.active{
		transform: translate(50%,-25%) !important;
		
		.dream-drawing{
			max-width: 500px;
			width: 500px !important;
		}		
		
		.hover-info{
			opacity: 0;
		}
		
		.dream-body{
			-webkit-transform: translate3d(0,0,1px);
		}
				
	}
	
}

.dream-inner{
	width: 90%;
	max-width: 800px;
	height: 100%;
	margin: 50px auto 0 auto;
}

.dream-drawing{
	position: relative;	
	min-width: 50px;
	max-width: 300px;
	margin: 0 auto;
	transform: translate(-10px);
	.transition(all,@duration,0s);
	
	pointer-events: auto;
	
	&:hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		opacity: 1;
		
		&+.hover-info{
			transform: translate(-0%,0%);
			opacity: 1;			
		}
	}
	
	img{
		.border-radius(10000px);
		display: block;	
	}
}

.hover-info{
	position: relative;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	opacity: 0;
	transform: translate(-100%,-100%);
	.transition(all,1s);
}

.dream-body{
	padding-bottom: 320px;
	-webkit-transform: translate3d(0,50%,1px);
	.transition(transform,4s,1s);
		
	*{
		color: #ddd;
	}
}

.dream-info{
	margin-top: 60px;
	margin-bottom: 60px;
	
	hgroup{
		margin-bottom: 15px;
	}
	
	*{
		text-align: center;
	}
	
	&:after{
		width: 30px;
		height: 3px;
		background: #ddd;
		margin: 0 auto;
		display: block;
		
	}
	
	hr{
		width: 60px;
		margin: 0px auto 90px auto;
		border: 1px solid #eee;
		
	}
	

	.dream-title{
		margin: 60px 0 0px 0;
		font-size: 50px;
	}
	
	.excerpt{
		margin: 15px auto 45px auto;
		font-size: 27px;
	}	
		
}


.dream-text{
	p{
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1.5;
	}
	
	h1,h2,h3{
		line-height: 1.35;
		margin-bottom: 30px;
		margin-top: 60px;
	}
	
	h1{
		font-size: 45px;
	}
	
	h2{
		font-size: 36px;
	}
	
	h3{
		font-size: 30px;
	}
	
	.centered{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	position: relative;
}

.dream-text-inner{
	position: relative;
}

body.dreams-grid{

	.dream{
		position: relative;
		left: 0;
		top: 0;
		height: auto;
		transform: translate(0,0) !important;
		left: 0;
		
		pointer-events: auto;
	}
	
	.dream-inner{
		height: auto;
	}
	
	.dream-drawing{
		width: 0px !important;
		height: 0px !important;
		min-width: 0px;
	}
	
	.hover-info{
		opacity: 1;
		transform: translate(-0%,0%);
		
		*{
			text-align: left;
		}
		display: none;
	}
	
	.dream-body{
		-webkit-transform: translate3d(0,0%,1px);
		padding-bottom: 0;
		
		*{
			color: #444;
		}
	}
	
	.dream-info{
		margin: 0;
	}
	
	.dream-text{
		display: none;
		height: 0;
	}
	
	.dream-title{
		margin-top: 0;
	}
	
}
*/

@dream-width: 1200px;

.dream{
	
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	
	&.light{
		.dream-background{
			background: #efefef;

		.dream-inner{
			*{
				color: #222;
			}
		}			
			
		}
	}
	
	&.dark{
		.dream-background{
background: #444444; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #444444 0%, #0d0d0d 31%, #010101 45%, #0a0a0a 61%, #222222 73%, #444444 85%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#444444), color-stop(31%,#0d0d0d), color-stop(45%,#010101), color-stop(61%,#0a0a0a), color-stop(73%,#222222), color-stop(85%,#444444), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); /* IE10+ */
background: linear-gradient(135deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


		}
		
		.dream-inner{
			*{
				color: #eee;
			}
		}
	}	
	
}

.template-background{
	.dream-drawing{
		display: none;
	}
	
	.dream-background{
		opacity: .5;
	}
}

.dream-background-image{
	z-index: -2;
	position: fixed;
	width: 100%;
	height: 200%;
	background-size: cover;
	background-position: center top;
}

.dream-background{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	.transition(background,.5s);
}

.dream-inner{
	width: 95%;
	margin: 0 auto;
	padding: 30px 0 600px 0;
	max-width: @dream-width;
}

.dream-drawing{
	padding: 15px;
	max-width: @dream-width*.4;
	margin: 0 auto;
	img{
		.border-radius(100000px);
		box-shadow: 1px 1px 7px rgba(50,50,50,.2);
	}
}

.dream-header{
	margin-top: 30px;
	margin-bottom: 30px;
	
	h4{
		margin-top: 0;
		margin-bottom: 7px;
	}
	
	hr{
		width: 60px;
		margin: 0px auto 90px auto;
		border: 1px solid @dark;
	}
	
	.dream-title{
		margin: 45px 0 0px 0;
	}
	
	.dream-teaser{
		margin: 15px auto 45px auto;
	}	
		
}

.dream-body{
	position: relative;
	
	.dream-text{
		
		*{
			font-family: 'Brown' !important;
			font-weight: 200;	
		}
		
		h1,h2,h3,h4,h5,h6{
			margin-bottom: 30px;
		}
		
		li{
			font-size: 21px;
			width: 80%;
		}
		
		p{
			font-size: 27px;	
			margin-bottom: 30px;
			line-height: 1.5;
		}			
	}
}

/********** @RESPONSIVE *********/

//1200px
@media (max-width: 1200px) {


h1{
	font-size: 54px;
}

h2{
	font-size: 21px;
}

h3{
	font-size: 19px;
}

h4{
	font-size: 15px;
}

h5,h6{
	font-size: 13px;
}

}


//992px
@media (max-width: 992px) {

h1{
	font-size: 36px;
}

h2{
	font-size: 17px;
}

h3{
	font-size: 15px;
}

h4{
	font-size: 15px;
}

h5,h6{
	font-size: 13px;
}

}

//767px
@media (max-width: 767px) {

h1{
	font-size: 30px;
}

h2{
	font-size: 21px;
}

h3{
	font-size: 17px;
}

h4{
	font-size: 13px;
}

h5,h6{
	font-size: 13px;
}

}




