@import "animations.less";

/********** @VARIABLES *********/


@brand: #9acadb;

@dark: #333;

@mid: #ccc;

@light: #eee;

@error: #f2dede;


.gradient(){
background: #ffffff;
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%);
background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%);
background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%);
background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}

.gradient-dark(){
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.font-text(){
	font-family: @font-family-text;	
}

.transition(@property: all,@duration: .5s, @delay: 0s, @easeing: ease){
	transition: @property @duration @delay @easeing;
	-moz-transition: @property @duration @delay @easeing; 
	-webkit-transition: @property @duration @delay @easeing; 
	-o-transition: @property @duration @delay @easeing; 	
}

.shadow(@x: 0px, @y: 0px, @size: 4px, @shadow-color: @medium){
	-moz-box-shadow: @x @y @size @shadow-color;
	-webkit-box-shadow: @x @y @size @shadow-color;
	box-shadow: @x @y @size @shadow-color;		
}

.text-shadow(@x: 1px, @y: 1px, @spread: 0px, @shadow-color: @light){
	-moz-text-shadow: @x @y @spread @shadow-color;
	-webkit-text-shadow: @x @y @spread @shadow-color;
	text-shadow: @x @y @spread @shadow-color;	
}

.box-shadow-inset(@x: 1px, @y: 1px, @b: 1px, @shadow-color: @light){
	-moz-box-shadow: inset @x @y @b @shadow-color;
	-webkit-box-shadow: inset @x @y @b @shadow-color;
	box-shadow: inset @x @y @b @shadow-color;	
}

.border-radius(@size: 0px){
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
	border-radius: @size;
}

.animation(@name: animation, @duration: 2s, @easing: ease, @delay: 0s, @iteration: 1){	
	animation: @name @duration @easing @delay @iteration;
	-ms-animation: @name @duration @easing @delay @iteration;
	-webkit-animation: @name @duration @easing @delay @iteration;
	-0-animation:move @name @duration @easing @delay @iteration;
	-moz-animation:move @name @duration @easing @delay @iteration;
	animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;	
}

/********** @OBJECT-ORIENTED *********/


*{
 	/* outline: none !important;  */
}

.yellow{
	background: yellow;
}

.pink{
	background: pink;
}

.orange{
	background: orange;
}

.green{
	background: green;
}

img,video{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}


.col-center{
	width: 300px;
	display: block;
	float: none;
	position: relative;
	margin: 20px auto;
}

.centered{
	text-align: center;
}

.logo{
	display: block;
}

.bg-brand{
	background-color: @brand;
}

.bg-white{
	background-color: white;
}

.bg-gray{
	background: @light;
}

.bg-gradient{
	.gradient();
}

.btn-shadow(){
	.shadow(0,3px,0,darken(@brand,5%));
}

.icon:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 33px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
}

.icon-left:before{
	margin-right: 10px;
}
.icon-right:before{
	margin-left: 10px;
}

a{
	.transition(all,.25s);
	&:hover{
		text-decoration: none !important;
	}
}

ul{
	list-style: none;
	padding: 0;
}

ol,ul{
	-webkit-padding-start: 0px;
}

/********** @THEME *********/

body{
	
}

*{
	font-weight: light;
}

.row{
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
}

.container{
	padding: 0;
}

.white{
	color: white;
}

.gray{
	color: #333;
}

.brand{
	color: @brand;
}

*{
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.uppercase{
	text-transform: uppercase;
}

.light{
	//font-family: 'AkkuratLight','akkurat light',helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 200;	
}

.light-italic{
	//font-family: 'AkkuratLightItalic','akkurat light italic',helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: 200;
}

.regular{
	font-weight: 400;
}

.bold{
	//font-family: 'AkkuratBold','akkurat bold',helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 700;	
}

.italic{
	font-style: italic;
}

.brown{
	font-family: 'Tisa Pro';
}

a{
	color: darken(@brand,80%);
	
	.transition(color,.125s);
	
	&:hover{
		color: darken(@brand,70%);
	}
}

.serif{
	font-family: georgia,serif;
	line-height: 1.65;
	font-size: 19px;
	
	*{
		font-family: georgia,serif;
		line-height: 1.65;
	}
}

.text{
	line-height: 1.7;
	
	p,a{
	line-height: 1.7;
		
	}
}

h1,h2,h3,h4,h5,h6,p{
	line-height: 1.5;
	color: @dark;
	font-weight: normal;	
}

h1{
	font-size: 42px;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 21px;
}

h4{
	font-size: 16px;
}

h5,h6{
	font-size: 14px;
}


.text{

	p{
		line-height: 1.6;
		font-size: 18px;
	}
	
	ul{
		list-style: disc;
	}
}

.small{
	font-size: 14px;
}

.extra-small{
	font-size: 12px;
}



/********** @STRUCTURE *********/

html, body {
    //max-width: 100%;
    //overflow-x: hidden;
}

.loading{
	.transition(opacity,1s);
	opacity: 0;	
}

.loaded{
	opacity: 1;
}


#background{
	display: none;
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: -2;
	overflow: hidden;
	.transition(all,@duration);
	.gradient();
}

#header{

	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 998;
	bottom: 0;
	height: 120px;	
	
	&:hover{
		opacity: 1;
	}
	
	
	&.open{
		
		#nav{
			left: 60px;
		}		
		
		#nav-toggle{
			left: -120px;
			
		}

	}
	
	#nav-toggle{
		width: 110px;
		height: 60px;
		position: absolute;
		left: 50px;
		bottom: 47px;
		.transition(all,1s);		
		
		&:hover{
			cursor: pointer;
		}
		
	}
	
	#nav{	
		position: absolute;
		left: -50%;
		bottom: 30px;
		.transition(all,1s);	
		
		ul{
			display: inline-block;
			position: relative;
			bottom: 0;
			
			li{
				display: inline-block;
				margin-right: 15px;
				font-size: 14px;
				
				a{
					display: block;
					text-decoration: underline;
					
					&.nav-icon{
						text-decoration: none;
						color: #333;
						
						&.active{
							color: #999;	
						}
						
						.icon:before{
							font-size: 21px;
							line-height: 14px;
						}
					}
					
					&:hover{
						text-decoration: line-through;
					}
				}
				
			}
		}
	}
	
	#site-title{
		width: 110px;
		height: 60px;
		font-size: 16px;
		line-height: 1.2;	
		display: inline-block;	
		margin-right: 30px;
		
		&:hover{
			cursor: pointer;
		}
	}
	
	
}

#close{
	position: fixed;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	bottom: 45px;
	right: -40px;
	z-index: 999;
	.transition(right,1s);
	
	.icon:before{
		display: block;
		text-align: center;
		font-size: 50px;
		top: -3px;
	}
}



/********** @DREAMS PHASE 2 *********/


body.dream-active{
	#background{
		background: #222;
	}
	
	#archive{
		display: none;
	}
	
	.dream{
		opacity: .1;
		position: fixed;
		
		&.active{
			opacity: 1;
			position: absolute;
		}
	}
	
	#close{
		right: 40px;
	}

}

@marker: 25%;

#marker{	
	display: none;
	position: fixed;
	top: @marker;
	left: @marker;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	background: red;
	z-index: 111111;
}





@duration: 4s;

.home{

	#dreams{
		position: relative;
		overflow: scroll;
	}
	
	.dream{
		width: 250px;
		min-height: 350px;
		max-height: 350px;		
		//height: 300px;
		padding: 0px;
		position: absolute;		
		.transition(all,@duration);
		overflow: hidden;	
		
		.dream-link{
			text-decoration: none;
		}
	
		.dream-drawing{
			.transition(all,@duration);
			min-width: 50px;
			max-width: 300px;
			margin: 0 auto;
			
			img{
				.border-radius(5000px);
				width: 100%;
			}
	
			&:hover{
				&+.dream-hover{
					display: block;
				}
			}		
	
		}
		
		.dream-hover{
			display: none;
		}
		
		.dream-inner{
			width: 90%;
			max-width: 1200px;
			height: 100%;
			margin: 50px auto 0 auto;
		}
		
		.dream-content{
			.transition(all,@duration);
			position: relative;
			height: 0;
			top: 1000px;	
			padding-bottom: 500px;
			
		}
		
		//ACTIVE DREAM
		&.active{
			width: 100%;
			min-height: 300px;
			height: auto;
			max-height: none;		
			top: 0 !important;
			left: 0 !important;
			
			&.light{
				.dream-background{
					background: white;
					opacity: 1;
				}
			}
			
			&.dark{
				.dream-background{
					background: #999;
					opacity: 1;
				}
			}	
			
			&.template-background{
				.dream-drawing{
					width: 100% !important;
					height: 100% !important;
					max-width: 100%;
					margin: 0px auto;	
					position: absolute;				
				}		
			}		
			
			.dream-drawing{
				width: 500px !important;
				max-width: 500px;
				margin: 50px auto;					
			}
						
			.dream-hover{
				display: none !important;
			}
			
			.dream-content{
				height: auto;
				top: 0;
				-webkit-transform: translate3d(0,0,1px);
			}
					
		}
	
	}	

	
}



.dream-header{
	margin-top: 30px;
	margin-bottom: 30px;
	
	h4{
		margin-top: 0;
		margin-bottom: 7px;
	}
	
	hr{
		width: 60px;
		margin: 0px auto 90px auto;
		border: 1px solid @dark;
	}
	
	.dream-title{
		margin: 45px 0 0px 0;
	}
	
	.dream-teaser{
		max-width: 450px;
		margin: 15px auto 45px auto;
	}	
		
}

.dream-body{
	position: relative;
	
	.dream-text{
		
		*{
			font-family: 'Akkurat Pro' !important;
			font-weight: 300;	
		}
		
		h1,h2,h3,h4,h5,h6,p{
			margin-bottom: 1.75em;
			line-height: 1.75;
		}
		
		h1{
			margin: 0;
			font-size: 42px;
			font-weight: bold;
		}
		
		h2{
			margin: 0;
			font-size: 27px;
			font-weight: bold;	
		}
		
		h3{
			margin: 0;
			font-size: 24px;
			font-weight: bold;							
		}
		
		h4,h5,h6{
			
		}
		
		li{
			font-size: 21px;
			width: 80%;
		}
		
		p{
			font-size: 23px;
			margin-bottom: 2.55em;	
		}	
		
		a{
			text-decoration: underline;
		}		
		
		blockquote{
			text-align: right;
			position: relative;
			right: -100px;
			padding: 0;
			margin: 0;
			border-left: none;	
			font-style: italic;
			font-size: 27px;	
			
			*{
				font-size: 27px;
			}	
		}
		
		hr{
			border-top: 1px solid @dark;
			width: 33%;
			margin: 90px auto;
			
			&.closing{
				//margin-top: 60px;
			}
		}
	}
}

.guidepost{
	padding-top: 30px;	
	
	.sign{
		.transition(all,4s);
		-webkit-transform: translate(0px,0px) rotate(0deg);	
		text-align: center;
		position: relative;	
		right: 0px;	
		top: 0px;	
		
		&.off{
			opacity: .05;
		}
		
		&.sign1{
		
			&.off{
				-webkit-transform: translate(-150px,70px) rotate(30deg);
			}
		
			&:hover{
				right: 5px;
			}				
			a:before{
					margin-right: 10px;
				    content: 'Û';
				    font-family: "modern_pictograms_proregular";			    
				}																
		}
		
		&.sign2{
		
			&.off{
				-webkit-transform: translate(-12px,-80px) rotate(20deg);
			}	

			&:hover{
				top: 5px;
			}			
			
		}
		
		&.sign3{
			&.off{
				-webkit-transform: translate(-190px,130px) rotate(140deg);
			}
			
			&:hover{
				right: -5px;
			}
			a:after{
				margin-left: 10px;
			    content: 'Ú';
			    font-family: "modern_pictograms_proregular";			    
			}									
		}	
			
		a{
			font-size: 21px;
			text-decoration: none;
			padding: 20px;
			display: block;

		}	
	
	}
	
}	


body.dreams-grid{

	.dream{
		position: relative;
		left: 0;
		top: 0;
		height: auto;
		transform: translate(0,0) !important;
		left: 0;
		
		pointer-events: auto;
	}
	
	.dream-inner{
		height: auto;
	}
	
	.dream-drawing{
		width: 0px !important;
		height: 0px !important;
		min-width: 0px;
	}
	
	.dream-hover{
		opacity: 1;
		transform: translate(-0%,0%);
		
		*{
			text-align: left;
		}
		display: none;
	}
	
	.dream-body{
		-webkit-transform: translate3d(0,0%,1px);
		padding-bottom: 0;
		
		*{
			color: #444;
		}
	}
	
	.dream-info{
		margin: 0;
	}
	
	.dream-text{
		display: none;
		height: 0;
	}
	
	.dream-title{
		margin-top: 0;
	}
	
}



/**** @DREAM-SINGLES *****/

.single{
	
	@dream-width: 1200px;
	
	.dream{
		
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		
		&.light{
			.dream-background{
				background: #efefef;
	
			.dream-inner{
				*{
					color: #222;
				}
			}			
				
			}
		}
		
		&.dark{
			.dream-background{
				background: #444444;
				background: -moz-linear-gradient(-45deg,  #444444 0%, #0d0d0d 31%, #010101 45%, #0a0a0a 61%, #222222 73%, #444444 85%, #222222 100%); 
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#444444), color-stop(31%,#0d0d0d), color-stop(45%,#010101), color-stop(61%,#0a0a0a), color-stop(73%,#222222), color-stop(85%,#444444), color-stop(100%,#222222));
				background: -webkit-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%);
				background: -o-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); 
				background: -ms-linear-gradient(-45deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); 
				background: linear-gradient(135deg,  #444444 0%,#0d0d0d 31%,#010101 45%,#0a0a0a 61%,#222222 73%,#444444 85%,#222222 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=1 ); 
	
			}
			
			.dream-inner{
				*{
					color: #eee;
				}
			}
		}	
		
	}
	
	.template-background{
		.dream-drawing{
			display: none;
		}
		
		.dream-background{
			opacity: .5;
		}
	}
	
	.dream-background-image{
		z-index: -2;
		position: fixed;
		width: 100%;
		height: 200%;
		background-size: cover;
		background-position: center top;
	}
	
	.dream-background{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
		.transition(background,.5s);
	}
	
	.dream-inner{
		width: 95%;
		margin: 0 auto;
		padding: 30px 0 600px 0;
		max-width: @dream-width;
	}
	
	.dream-drawing{
		padding: 15px;
		max-width: @dream-width*.4;
		margin: 0 auto;
		img{
			.border-radius(100000px);
			box-shadow: 1px 1px 7px rgba(50,50,50,.2);
		}
	}


}


/********** @RESPONSIVE *********/

//1200px
@media (max-width: 1200px) {

h1{
	font-size: 54px;
}

h2{
	font-size: 21px;
}

h3{
	font-size: 19px;
}

h4{
	font-size: 15px;
}

h5,h6{
	font-size: 13px;
}

}


//992px
@media (max-width: 992px) {

h1{
	font-size: 36px;
}

h2{
	font-size: 17px;
}

h3{
	font-size: 15px;
}

h4{
	font-size: 15px;
}

h5,h6{
	font-size: 13px;
}

}

//767px
@media (max-width: 767px) {

h1{
	font-size: 30px;
}

h2{
	font-size: 21px;
}

h3{
	font-size: 17px;
}

h4{
	font-size: 13px;
}

h5,h6{
	font-size: 13px;
}

}




